<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png"/>
      <span>Oi, {{name}}</span>

      <br/>

      <span>Você solicitou a recuperação de senha para a sua conta.</span>
      <span>Para realizar a troca, clique no link
        <a href={{link}}>{{link}}</a>
        ou cole o link no seu navegador.
      </span>
      <span>Se você não solicitou a recuperação de senha, ignore este e-mail.</span>
      <strong>Atenciosamente,</strong>
      <br/>
      <strong>Equipe | Rentx</strong>
    </div>
  </body>
</html>